apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-admin-frontend
  labels:
    app: {{ .Release.Name }}-admin-frontend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-admin-frontend
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-admin-frontend
    spec:
      containers:
        - name: admin-backend
          image: {{ printf "%s:%s" (default "nginx" .Values.image.repository) (default "latest" .Values.image.tag) | quote }}
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          env:
            - name: VITE_API_URL
              value: "{{ .Values.env.VITE_API_URL }}"
            - name: ADMIN_CLOUD_RUN_URL
              value: "{{ .Values.env.ADMIN_CLOUD_RUN_URL }}"
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 3
          resources:
            limits:
              cpu: "{{ .Values.resources.limits.cpu }}"
              memory: "{{ .Values.resources.limits.memory }}"
            requests:
              cpu: "{{ .Values.resources.requests.cpu }}"
              memory: "{{ .Values.resources.requests.memory }}"
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      volumes:
        - name: nginx-config
          configMap:
            name: {{ .Release.Name }}-admin-frontend-nginx-config
