replicaCount: 2

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent
  
service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "250m"
    memory: "256Mi"

env:
  # dynamic — passed via CD
  EMBEDDING_ENDPOINT: ""
  CHUNK_URL: ""
  VECTOR_DB_ENDPOINT: ""
  VECTOR_DB_ENDPOINT_UPSERT: ""
  DEPLOYED_INDEX_ID: ""
  MEMORY_STORE_HOST: ""
  MEMORY_STORE_PORT: ""
  MEMORY_STORE_PASSWORD: ""
  PROJECT_ID: ""
  REGION: ""

  # static — remains constant
  LLM_MODEL_I: "gemini-2.5-flash"
  LLM_ENDPOINT: "https://us-central1-aiplatform.googleapis.com/v1/projects/rock-task-468906-n1/locations/us-central1/publishers/google/models/gemini-2.5-flash:generateContent"
  LLM_TEMPERATURE: "0.2"
  LLM_MAX_OUTPUT_TOKENS: "1024"

# GCP service account secret
gcpServiceAccountSecretName: "gcp-sa-key"
gcpServiceAccountKeyFile: "service-account.json"

# Liveness / Readiness probes
probe:
  initialDelaySeconds: 10
  periodSeconds: 15
  timeoutSeconds: 5

# Optional ingress (set enabled: true and configure host)
# ingress:
#   enabled: false
#   className: ""
#   annotations: {}
#   hosts:
#     - host: user-backend.example.com
#       paths:
#         - /
#   tls: []

route:
  enabled: false
  host: "user-backend.apps.example.osd.com"  # <-- replace with your OSD domain
  annotations: {}
  tls:
    enabled: false
    termination: edge
    insecureEdgeTerminationPolicy: Redirect


# horizontal pod autoscaler (optional)
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

